#Menu {
	text-align: center;
}

#Menu:hover {
	background-color: linear-gradient(lightgreen, green);
}

#MenuItem {
	border: solid thin black;
}

#MenuItem:hover {
	background-color: linear-gradient(orange, darkorange);
}
