HTML {
	Height: 100%;
}

Body {
	Height: 95%;
}

Select {
	BackGround: LightBlue;
	
	Border: 2.5px Double DarkGreen;
	Border-Radius: 10px;
}

Button {
	Border: 2.5px Outset ActiveBorder;
	Border-Radius: 10px;
}

#PlayArea {
	Height: 50%;
	
	Border: 5px Ridge DarkOrchid;
}

#TapArea {
	Width: 5%;
	Height: 100%;
	
	Border: 5px Ridge DarkOrchid;
	Margin: -5px;
	
	Float: Left;
}

#TapArea > Div {
	Height: 23.75%;
	
	Border: 5px Ridge DarkOrchid;
	Margin: -5px;
	
	Text-Align: Center;
	Line-Height: 500%;
	
	User-Select: None;
	-Ms-User-Select: None;
	-Moz-User-Select: None;
	-Webkit-User-Select: None;
}

#TapArea > Div:Hover {
	BackGround: Brown;
}

#ToneArea {
	Width: Calc(95% - 5px);
	Height: 100%;
	
	Position: Relative;
	Left: 5px;
	
	Border: 5px Ridge DarkOrchid;
	Margin: -5px;
	
	Float: Left;
}

#DrawArea {
	
}

#SongInfo {
	Width: 100%;
}

#CoverImage {
	Width: 10%;
	Margin-Bottom: -10px;
}

.Message {
	Display: Block;
	Margin: Auto;
	
	Font-Size: 72pt;
	Text-Align: Center;
	
	Animation: Fades 1.5s Linear 0s Infinite Alternate;
}

@KeyFrames Fades{
	0% {
		Color: Transparent;
	}
	
	100% {
		Color: LightGray;
	}
}