@Font-Face {
	Font-Family: "Hall Fetica";
	Src: URL("https://genbuproject.github.io/Genbu-Project-Official-Site/Font/Hall Fetica/Hall Fetica.ttf");
}

Body {
	Font-Family: "Hall Fetica", "Meiryo";
}

Panel {
	Display: Block;
	Border: 3px Solid #6C6D8D;
	Transform: Rotate(45deg);
}

.NormalPanel {
	Width: 219px;
	Height: 219px;
}

.NormalPanel > Content {
	Margin: 109.5px;
}

Content {
	Display: Flex;
	Text-Align: Center;
	Transform: Rotate(-45deg);
}

Content Img {
	Width: 100%;
	Transform: Rotate(-45deg);
}