#RPGHelper-Main {
	Border: Thin Solid Gray;
}

RPGHelper-MsgBox, RPGHelper-Menu-MenuPanel, RPGHelper-Menu-Magic-MagicType {
	BackGround: RGBA(200, 200, 200, 0.5);
	Border: 5px Groove Plum;
	Border-Radius: 5px 5px 5px 5px;
	
	Font: Medium Meiryo;
}

RPGHelper-Menu-MenuItem {
	Text-Align: Center;
	
	Border: 5px Groove Plum;
	Border-Bottom: 5px Groove ActiveBorder;
	Border-Radius: 5px 5px 0px 0px;
	
	Font: Large Meiryo;
	
	Margin: -5px;
}

RPGHelper-Menu-MenuItem:Hover {
	BackGround: RGBA(150, 50, 0, 0.5);
}
