#RPGHelper-Main {
	Border: Thin Solid Gray;
}

RPGHelper-MsgBox RPGHelper-Menu-MenuPanel {
	Border: 5px Groove Plum;
	Border-Radius: 5px 5px 5px 5px;
	
	BackGround: rgba(200, 200, 200, 0.5);
	
	Font: Medium Meiryo;
}
